# Getting Started with Python

# Data Types
## Variables

In [1]:
a = 3
b = 4
a + b

7

In [2]:
a = 3
print(a)
a = "three"
print(a)

3
three

## Numeric Types

In [3]:
type(4)

int

In [4]:
type(4.4)

float

In [5]:
type(4.)

float

In [6]:
float(4)

4.0

In [7]:
int(4.9)

4

In [8]:
1.125 - 1.1

0.02499999999999991

In [9]:
3 + 4  # Sum

7

In [10]:
3 - 4  # Subtraction

-1

In [11]:
3 / 4  # Division

0.75

In [12]:
3 * 4  # Multiplication

12

In [13]:
3**4  # The power operator (Excel uses 3^4)

81

In [14]:
3 * (3 + 4)  # Use of parentheses

21

## Comments

In [15]:
# This is a sample we've seen before.
# Every comment line has to start with a #
3 + 4

7

In [16]:
3 + 4  # This is an inline comment

7

## Booleans

In [17]:
3 == 4  # Equality (Excel uses 3 = 4)

False

In [18]:
3 != 4  # Inequality (Excel uses 3 <> 4)

True

In [19]:
3 < 4  # Smaller than. Use > for bigger than.

True

In [20]:
3 <= 4  # Smaller or equal. Use >= for bigger or equal.

True

In [21]:
# You can chain logical expressions
# In VBA, this would be: 10 < 12 And 12 < 17
# In Excel formulas, this would be: =AND(10 < 12, 12 < 17)
10 < 12 < 17

True

In [22]:
not True  # "not" operator

False

In [23]:
False and True  # "and" operator

False

In [24]:
False or True  # "or" operator

True

In [25]:
bool(2)

True

In [26]:
bool(0)

False

In [27]:
bool("some text")  # We'll get to strings in a moment

True

In [28]:
bool("")

False

In [29]:
bool(None)

False

## Strings

In [30]:
"A double quote string. " + 'A single quote string.'

'A double quote string. A single quote string.'

In [31]:
print("Don't wait! " + 'Learn how to "speak" Python.')

Don't wait! Learn how to "speak" Python.

In [32]:
print("It's easy to \"escape\" characters with a leading \\.")

It's easy to "escape" characters with a leading \.

In [33]:
# Note how Python allows you to conveniently assign multiple
# values to multiple variables in a single line
first_adjective, second_adjective = "free", "open source"
f"Python is {first_adjective} and {second_adjective}."

'Python is free and open source.'

In [34]:
"PYTHON".lower()

'python'

In [35]:
"python".upper()

'PYTHON'

# Indexing and Slicing

In [36]:
language = "PYTHON"

In [37]:
language[0]

'P'

In [38]:
language[1]

'Y'

In [39]:
language[-1]

'N'

In [40]:
language[-2]

'O'

In [41]:
language[:3]  # Same as language[0:3]

'PYT'

In [42]:
language[1:3]

'YT'

In [43]:
language[-3:]  # Same as language[-3:6]

'HON'

In [44]:
language[-3:-1]

'HO'

In [45]:
language[::2]  # Every second element

'PTO'

In [46]:
language[-1:-4:-1]  # Negative step goes from right to left

'NOH'

In [47]:
language[-3:][1]

'O'

# Data Structures
## Lists

In [48]:
file_names = ["one.xlsx", "two.xlsx", "three.xlsx"]
numbers = [1, 2, 3]

In [49]:
file_names + numbers

['one.xlsx', 'two.xlsx', 'three.xlsx', 1, 2, 3]

In [50]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [51]:
cells = [[1, 2, 3],
         [4, 5, 6],
         [7, 8, 9]]

In [52]:
cells[1]  # Second row

[4, 5, 6]

In [53]:
cells[1][1:]  # Second row, second and third column

[5, 6]

## Line Continuation

In [54]:
a = (1 + 2
     + 3)

In [55]:
a = 1 + 2 \
    + 3

In [56]:
users = ["Linda", "Brian"]

In [57]:
users.append("Jennifer")  # Most commonly you add to the end
users

['Linda', 'Brian', 'Jennifer']

In [58]:
users.insert(0, "Kim")  # Insert "Kim" at index 0
users

['Kim', 'Linda', 'Brian', 'Jennifer']

In [59]:
users.pop()  # Removes and returns the last element by default

'Jennifer'

In [60]:
users

['Kim', 'Linda', 'Brian']

In [61]:
del users[0]  # del removes an element at the given index

In [62]:
len(users)  # Length

2

In [63]:
"Linda" in users  # Check if users contains "Linda"

True

In [64]:
print(sorted(users))  # Returns a new sorted list
print(users)  # The original list is unchanged

['Brian', 'Linda']
['Linda', 'Brian']

In [65]:
users.sort()  # Sorts the original list
users

['Brian', 'Linda']

In [66]:
len("Python")

6

In [67]:
"free" in "Python is free and open source."

True

## Dictionaries

In [68]:
exchange_rates = {"EURUSD": 1.1152,
                  "GBPUSD": 1.2454,
                  "AUDUSD": 0.6161}

In [69]:
exchange_rates["EURUSD"]  # Access the EURUSD exchange rate

1.1152

In [70]:
exchange_rates["EURUSD"] = 1.2  # Change an existing value
exchange_rates

{'EURUSD': 1.2, 'GBPUSD': 1.2454, 'AUDUSD': 0.6161}

In [71]:
exchange_rates["CADUSD"] = 0.714  # Add a new key/value pair
exchange_rates

{'EURUSD': 1.2, 'GBPUSD': 1.2454, 'AUDUSD': 0.6161, 'CADUSD': 0.714}

In [72]:
{**exchange_rates, **{"SGDUSD": 0.7004, "GBPUSD": 1.2222}}

{'EURUSD': 1.2,
 'GBPUSD': 1.2222,
 'AUDUSD': 0.6161,
 'CADUSD': 0.714,
 'SGDUSD': 0.7004}

exchange_rates|{'SGDUSD':0.7004, 'GBPUSD':1.2222}

In [73]:
currencies = {1: "EUR", 2: "USD", 3: "AUD"}

In [74]:
currencies[1]

'EUR'

In [75]:
# currencies[100] would raise an exception. Instead of 100,
# you could use any other non-existing key, too.
currencies.get(100, "N/A")

'N/A'

Select Case x
Case 1
Debug.Print "EUR"
Case 2
Debug.Print "USD"
Case 3
Debug.Print "AUD"
Case Else
Debug.Print "N/A"
End Select

## Tuple

While you can often use tuples and lists interchangeably,
tuples are the obvious choice for a collection that never changes throughout the
program. Tuples are created by separating values with commas

In [76]:
currencies = ("EUR", "GBP", "AUD")

In [77]:
currencies[0]  # Accessing the first element

'EUR'

In [78]:
# Concatenating tuples will return a new tuple.
currencies + ("SGD",)

('EUR', 'GBP', 'AUD', 'SGD')

## Set

Sets are collections that have no duplicate elements. While you can use them for set
theory operations, in practice they often help you to get the unique values of a list or
a tuple. You create sets by using curly braces

In [79]:
set(["USD", "USD", "SGD", "EUR", "USD", "EUR"])

{'EUR', 'SGD', 'USD'}

In [80]:
portfolio1 = {"USD", "EUR", "SGD", "CHF"}
portfolio2 = {"EUR", "SGD", "CAD"}

In [81]:
# Same as portfolio2.union(portfolio1)
portfolio1.union(portfolio2)

{'CAD', 'CHF', 'EUR', 'SGD', 'USD'}

In [82]:
# Same as portfolio2.intersection(portfolio1)
portfolio1.intersection(portfolio2)

{'EUR', 'SGD'}

## Summary

In [83]:
currencies = "USD", "EUR", "CHF"
currencies

('USD', 'EUR', 'CHF')

In [84]:
list(currencies)

['USD', 'EUR', 'CHF']

# Control Flow
## If Statement

In [85]:
i = 20
if i < 5:
    print("i is smaller than 5")
elif i <= 10:
    print("i is between 5 and 10")
else:
    print("i is bigger than 10")

i is bigger than 10

In [86]:
is_important = True
if is_important:
    print("This is important.")
else:
    print("This is not important.")

This is important.

In [87]:
values = []
if values:
    print(f"The following values were provided: {values}")
else:
    print("There were no values provided.")

There were no values provided.

In [88]:
is_important = False
print("important") if is_important else print("not important")

not important

## For and While Loops

In [89]:
currencies = ["USD", "HKD", "AUD"]

for currency in currencies:
    print(currency)

USD
HKD
AUD

Dim currencies As Variant
Dim curr As Variant 'currency is a reserved word in VBA
currencies = Array("USD", "HKD", "AUD")
For Each curr In currencies
Debug.Print curr
Next

In [90]:
range(5)

range(0, 5)

range(stop)
range(start, stop, step)

In [91]:
list(range(5))  # stop argument

[0, 1, 2, 3, 4]

In [92]:
list(range(2, 5, 2))  # start, stop, step arguments

[2, 4]

In [93]:
for i in range(3):
    print(i)

0
1
2

In [94]:
for i, currency in enumerate(currencies):
    print(i, currency)

0 USD
1 HKD
2 AUD

In [95]:
exchange_rates = {"EURUSD": 1.1152,
                  "GBPUSD": 1.2454,
                  "AUDUSD": 0.6161}
for currency_pair in exchange_rates:
    print(currency_pair)

EURUSD
GBPUSD
AUDUSD

In [96]:
for currency_pair, exchange_rate in exchange_rates.items():
    print(currency_pair, exchange_rate)

EURUSD 1.1152
GBPUSD 1.2454
AUDUSD 0.6161

In [97]:
for i in range(15):
    if i == 2:
        break
    else:
        print(i)

0
1

In [98]:
for i in range(4):
    if i == 2:
        continue
    else:
        print(i)

0
1
3

For i = 1 To 3
Debug.Print i
Next i
Debug.Print i

In [99]:
for i in range(1, 4):
    print(i)
print(i)

1
2
3
3

In [100]:
n = 0
while n <= 2:
    print(n)
    n += 1

0
1
2

# List, Set and Dictionary Comprehensions

In [101]:
currency_pairs = ["USDJPY", "USDGBP", "USDCHF",
                  "USDCAD", "AUDUSD", "NZDUSD"]

In [102]:
usd_quote = []
for pair in currency_pairs:
    if pair[3:] == "USD":
        usd_quote.append(pair[:3])
usd_quote

['AUD', 'NZD']

In [103]:
[pair[:3] for pair in currency_pairs if pair[3:] == "USD"]

['AUD', 'NZD']

In [104]:
[pair[3:] + pair[:3] for pair in currency_pairs]

['JPYUSD', 'GBPUSD', 'CHFUSD', 'CADUSD', 'USDAUD', 'USDNZD']

In [105]:
exchange_rates = {"EURUSD": 1.1152,
                  "GBPUSD": 1.2454,
                  "AUDUSD": 0.6161}
{k: v * 100 for (k, v) in exchange_rates.items()}

{'EURUSD': 111.52, 'GBPUSD': 124.54, 'AUDUSD': 61.61}

In [106]:
{s + "USD" for s in ["EUR", "GBP", "EUR", "HKD", "HKD"]}

{'EURUSD', 'GBPUSD', 'HKDUSD'}

# Code Organization

# Functions

def function_name(required_argument, optional_argument=default_value, ...):
return value1, value2, ...

In [107]:
def convert_to_celsius(degrees, source="fahrenheit"):
    if source.lower() == "fahrenheit":
        return (degrees-32) * (5/9)
    elif source.lower() == "kelvin":
        return degrees - 273.15
    else:
        return f"Don't know how to convert from {source}"

In [108]:
convert_to_celsius(100, "fahrenheit")  # Positional arguments

37.77777777777778

In [109]:
convert_to_celsius(50)  # Will use the default source (fahrenheit)

10.0

In [110]:
convert_to_celsius(source="kelvin", degrees=0)  # Keyword arguments

-273.15

# Modules and the Import Statement

In [111]:
import temperature

This is the temperature module.

In [112]:
temperature.TEMPERATURE_SCALES

('fahrenheit', 'kelvin', 'celsius')

In [113]:
temperature.convert_to_celsius(120, "fahrenheit")

48.88888888888889

In [114]:
import temperature as tp

In [115]:
tp.TEMPERATURE_SCALES

('fahrenheit', 'kelvin', 'celsius')

In [116]:
from temperature import TEMPERATURE_SCALES, convert_to_celsius

In [117]:
TEMPERATURE_SCALES

('fahrenheit', 'kelvin', 'celsius')

# Date and Time

In [118]:
# import datetime as dt
# dt.datetime(year, month, day, hour, minute, second, microsecond, timezone)#

In [119]:
# Import the datetime module as "dt"
import datetime as dt

In [120]:
# Instantiate a datetime object called "timestamp"
timestamp = dt.datetime(2020, 1, 31, 14, 30)
timestamp

datetime.datetime(2020, 1, 31, 14, 30)

In [121]:
# Datetime objects offer various attributes, e.g., to get the day
timestamp.day

31

In [122]:
# The difference of two datetime objects returns a timedelta object
timestamp - dt.datetime(2020, 1, 14, 12, 0)

datetime.timedelta(days=17, seconds=9000)

In [123]:
# Accordingly, you can also work with timedelta objects
timestamp + dt.timedelta(days=1, hours=4, minutes=11)

datetime.datetime(2020, 2, 1, 18, 41)

In [124]:
# Format a datetime object in a specific way
# You could also use an f-string: f"{timestamp:%d/%m/%Y %H:%M}"
timestamp.strftime("%d/%m/%Y %H:%M")

'31/01/2020 14:30'

In [125]:
# Parse a string into a datetime object
dt.datetime.strptime("12.1.2020", "%d.%m.%Y")

datetime.datetime(2020, 1, 12, 0, 0)

VER pep8_sample.py